<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Country:</b>
  <%= @venue.country %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>


<%= link_to 'Edit',  edit_admin_venue_path(@venue) %> |
<%= link_to 'Back', admin_venue_index_url%>
